body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: inherit; /* Use user's default font */
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 30px;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: inherit;
    padding: 5px 10px;
    font-size: 14px;
    border: solid 1px;
    border-color: black;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}
